body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

/* Global */

.container {
  margin: auto;
  overflow: hidden;
  width: 80%;
}

ul {
  margin: 0;
  padding: 0;
}

.button-1 {
  background: #e8491d;
  border: none;
  color: #fff;
  height: 38px;
  padding: 0 20px 0 20px;
}

.button-1:hover {
  color: #e8491d;
  background: #fff;
}

/* Header */

header {
  background: #35424a;
  border-bottom: #e8491d 3px solid;
  color: #fff;
  min-height: 70px;
  padding-top: 30px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  color: #ccc;
  font-weight: bold;
}

/* make menu horizontal */
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

/* SHOWCASE */

#showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/showcase.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 600px;
  text-align: center;
}

#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Newsletter */

#newsletter {
  background: #35424a;
  color: #fff;
  padding: 15px;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type='email'] {
  height: 25px;
  padding: 4px;
  width: 250px;
}

/* Skills Section */

#boxes {
  padding: 3.25em 0 3.25em 0;
  margin-top: 20px;
}

#boxes .skills-box {
  float: left;
  padding: 10px;
  text-align: center;
  width: 30%;
}

#boxes .skills-box img {
  width: 90px;
}

footer {
  background: #35424a;
  color: #fff;
  margin-top: 20px;
  padding: 3.25em 0 3.25em 0;
  text-align: center;
}
