body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

/* Global */

.container {
  margin: auto;
  overflow: hidden;
  width: 80%;
}

ul {
  margin: 0;
  padding: 0;
}

.button-1 {
  background: #e8491d;
  border: none;
  color: #fff;
  height: 38px;
  padding: 0 20px 0 20px;
}

.button-1:hover {
  color: #e8491d;
  background: #fff;
}

.dark-background {
  background: #35424a;
  color: #fff;
  margin-top: 20px 0 20px 0;
  padding: 3.25em 0 3.25em 0;
  /* text-align: center; */
}

/* Header */

header {
  background: #35424a;
  border-bottom: #e8491d 3px solid;
  color: #fff;
  min-height: 70px;
  padding-top: 30px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  color: #ccc;
  font-weight: bold;
}

/* make menu horizontal */
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

/* SHOWCASE */

#showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/showcase.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 600px;
  text-align: center;
}

#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Newsletter */

#newsletter {
  background: #35424a;
  color: #fff;
  padding: 15px;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type='email'] {
  height: 25px;
  padding: 4px;
  width: 250px;
}

/* Skills Section */

#boxes {
  padding: 3.25em 0 3.25em 0;
  margin-top: 20px;
}

#boxes .skills-box {
  float: left;
  padding: 10px;
  text-align: center;
  width: 30%;
}

#boxes .skills-box img {
  width: 90px;
}

footer {
  text-align: center;
}

/* About Page */

aside#sidebar {
  float: right;
  margin-top: 10px;
  width: 30%;
}

article#main-area {
  float: left;
  width: 65%;
}

/* Services Page */

ul#services li {
  background: #e6e6e6;
  border: #ccc solid 1px;
  list-style: none;
  margin-bottom: 5px;
  padding: 20px;
}

aside#sidebar form {
  margin-left: 25px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  padding: 5px;
  width: 80%;
}

/* Media Queries */
/* Smaller than 768px */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .skills-box,
  article#main-area,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 30px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button,
  .quote button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type='email'],
  .quote form input[type='text'],
  .quote form input[type='email'] .quote textarea {
    margin-bottom: 5px;
    width: 100%;
  }
}
